.header {
  width: 100%;
}

.header-link {
  width: 20px;
  height: 20px;
}

.header-ul {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #313131;
  height: 80px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  grid-gap: 20px;
}

.timer, .users {
  font-size: 36px;
}

.users {
  display: flex;
  grid-gap: 30px;
}